h1 {
  /*color: #ff0000;*/
  color: rgba(255, 0, 0, 0.5);
  /*line-height: 216px;*/
  font: italic 144px/216px Helvetica, Arial, sans-serif normal;
  /*font-family: Helvetica, Arial, sans-serif;*/
  /*font-weight: normal;*/
  /*font-size: 144px;*/
  /*font-style: italic;*/
  text-decoration: underline;
  /*text-decoration: none;*/
  background-color: darkblue;
  background-image: url(http://placekitten.com/g/150/55);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
}