h1 {
  font-size: 3em;
  line-height: 10em;
}

p {
  line-height: 1.5em;
}

h2 {
  font-size: 2.1em;
}

#big-section {
  font-size: 2.57142857142857em;
}

#my_square {
  background: red;
  font-family: 3.5em;
  width: 35.7em;
  height: 200px;
}

#sub_square {
  background: green;
  width: 30%;
  font-size: 10em;
  height: 50px;
}