/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body { font-family: Helvetica; }

p {
  line-height: 1.5em;
}

button {
  border: 0;
  padding: 10px;
  background: #99ff99;
  box-shadow: -3px 3px 1px #000;
  margin: 10px 0;
}

#container {
  width: 80%;
  margin: 0 auto;
}

.timeline {
  padding: 20px;
}

.status {
  margin-bottom: 20px;
  overflow: hidden;
  padding: 20px;
  box-shadow: -3px 3px 1px #000;
  border: 1px solid #999;
  background: #fff;
  position: relative;
}

.status:last-child {
  margin-bottom: 0;
}

.status p strong {
  font-size: 0.7em;
  font-weight: bold;
  color: #333;
}

.status button {
  position: absolute;
  top: 0px;
  right: 10px;
}
